.book-card {
  background: #ffffff;
  border-radius: 0 0 10px 10px;
}
.book-card p {
  padding-left: 0.5rem;
}
.book-card .title-book-card, .book-card .seller-book-card {
  padding-top: 0.5rem;
}
.book-card .author-book-card p, .book-card .seller-book-card p {
  color: #A6A6A6;
}
.book-card .title-book-card {
  font-size: 16px;
}
.book-card .author-book-card {
  font-size: 14px;
}
.book-card .seller-book-card {
  font-size: 10px;
}

.formStyle label {
  color: #A6A6A6;
  font-size: 14px;
}
.formStyle button {
  width: 100%;
}
.formStyle p, .formStyle a {
  color: #292929;
  font-size: 14px;
}

.container-fluid-littleTitlePage {
  background: #F5F3EF;
  font-size: 10px;
  color: #A6A6A6;
}

.books .custom-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  font-size: 12px;
}
.books .custom-table thead {
  height: 75px;
  font-size: 8px;
  font-weight: 600;
}
.books .custom-table thead .description-col {
  width: 20%;
}
.books .custom-table tbody tr {
  height: 150px;
}
.books .custom-table tbody tr span {
  color: #ffffff;
  padding: 5px 1rem;
  border-radius: 15px;
}
.books .custom-table tbody tr .available {
  background-color: #00AC66;
}
.books .custom-table tbody tr .unavailable {
  background-color: #C56D6D;
}
.books .custom-table tbody tr .delete, .books .custom-table tbody tr .edit {
  border-bottom: 1px solid;
}
.books .custom-table tbody tr .delete {
  color: #CB2D2D;
}

.infoUser {
  background: #ffffff;
  border-radius: 20px;
}
.infoUser .userPhoto {
  width: 50%;
  border-bottom: #F5F3EF solid 1px;
}
.infoUser .userPhoto img {
  height: 135px;
  width: 135px;
  border-radius: 100px;
}
.infoUser .userPhoto a {
  border-bottom: 1px solid;
  color: #A6A6A6;
  font-size: 14px;
}
.infoUser .info .dateMember {
  color: #A6A6A6;
  font-size: 14px;
}
.infoUser .info .littleText {
  padding-top: 2rem;
  font-size: 8px;
  font-weight: 600;
}
.infoUser .info .bookNumber {
  font-size: 14px;
}

.container-fluid-allBooks {
  background-color: #FAF9F7;
}

.container-fluid-bookPage {
  background-color: #FAF9F7;
}
.container-fluid-bookPage #bookPage .bookImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-fluid-bookPage #bookPage .dataBook .dataBook-author {
  color: #A6A6A6;
  font-size: 16px;
}
.container-fluid-bookPage #bookPage .dataBook .style {
  width: 20px;
  border-bottom: solid 1px #A6A6A6;
}
.container-fluid-bookPage #bookPage .dataBook .section-Title {
  font-size: 8px;
  font-weight: 800;
  padding-top: 10px;
}
.container-fluid-bookPage #bookPage .dataBook .dataBook-content {
  font-size: 14px;
}
.container-fluid-bookPage #bookPage .dataBook .seller-badge {
  background-color: #ffffff;
  border-radius: 30px;
  width: 50%;
}
.container-fluid-bookPage #bookPage .dataBook .seller-badge img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.container-fluid-bookPage #bookPage .dataBook .btn-message {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.container-fluid-bookPage #bookPage .dataBook .btn-message .btn {
  width: 100%;
}

.container-fluid-connection #connection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container-fluid-formCreateUser #createUser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

footer img {
  width: 30px;
  height: 25px;
}

.container-fluid-header {
  background: #F5F3EF;
}
.container-fluid-header a:hover {
  border: none;
  font-weight: bold;
}
.container-fluid-header header .nav {
  background: #F5F3EF !important;
  height: 80px;
  font-weight: 600;
  font-size: 14px;
}
.container-fluid-header header .nav .logoIcon {
  background-color: #00AC66;
  padding: 8px;
  border-radius: 5px;
}
.container-fluid-header header .nav .logo {
  color: #00AC66;
  font-size: 20px;
}

@media (max-width: 980px) {
  #navbarNav {
    background-color: #F5F3EF;
  }
}
.container-fluid-homepage h1, .container-fluid-homepage h2, .container-fluid-homepage h3 {
  font-family: "Playfair Display", serif;
  color: #292929;
}
.container-fluid-homepage .container-fluid-discover, .container-fluid-homepage .container-fluid-explanation, .container-fluid-homepage .container-fluid-about {
  background: #F5F3EF;
}
.container-fluid-homepage .container-fluid-lastBook {
  background-color: #FAF9F7;
}
.container-fluid-homepage #discover p {
  padding: 10px 0 15px 0;
}
.container-fluid-homepage #explanation .stage {
  background: #ffffff;
  height: 139px;
  border-radius: 10px;
}
.container-fluid-homepage #explanation .btn-primary {
  background-color: transparent !important;
  color: #00AC66 !important;
  border: solid 1px !important;
}
.container-fluid-homepage #banner {
  overflow: hidden;
}
.container-fluid-homepage #banner img {
  width: 100%;
}
.container-fluid-homepage #about {
  padding-bottom: 10rem;
}
.container-fluid-homepage #about h3 {
  padding-bottom: 2rem;
}
.container-fluid-homepage #about span {
  color: #A6A6A6;
  font-size: 12px;
}
.container-fluid-homepage #about .vector {
  position: relative;
  left: 245px;
  top: 25px;
}

@media (max-width: 575px) {
  #banner .banner-img {
    content: url("../img/home/bannerMobil.png");
  }
}
body {
  font-family: "Inter", serif;
  font-weight: 300;
  color: #000000;
}
body h1 {
  font-family: "Playfair Display";
}
body .btn-primary {
  background-color: #00AC66 !important;
  border: #00AC66 !important;
  padding: 15px 25px;
}
body a {
  outline: none;
  text-decoration: none;
  color: black;
}
body a:hover {
  border-bottom: 1px solid;
}

.container-fluid-chat {
  background-color: #F5F3EF;
}
.container-fluid-chat #chat .messagingPicture {
  border-radius: 75px;
  height: 50px;
  width: 50px;
}
.container-fluid-chat #chat span {
  font-size: 10px;
}
.container-fluid-chat #chat .contentMessaging {
  color: #A6A6A6;
  font-size: 12px;
}
.container-fluid-chat #chat .messaging {
  background-color: #FAF9F7;
}
.container-fluid-chat #chat .messaging p {
  margin-bottom: 0rem;
  font-size: 12px;
}
.container-fluid-chat #chat .messaging #conversations:hover {
  text-decoration: none;
  background: #ffffff;
}
.container-fluid-chat #chat #conversation .scrollBar {
  height: 66vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.container-fluid-chat #chat #conversation .scrollBar .dataMessage {
  height: 200px;
}
.container-fluid-chat #chat #conversation .scrollBar .dataMessage div {
  height: 100px;
}
.container-fluid-chat #chat #conversation .scrollBar .message {
  font-size: 12px;
}
.container-fluid-chat #chat #conversation .scrollBar .message .mini {
  height: 25px;
  width: 25px;
}
.container-fluid-chat #chat #conversation .scrollBar .message .myMessage {
  background-color: #EDF2F6;
  padding: 0 2rem 0 2rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
.container-fluid-chat #chat #conversation .scrollBar .message .yourMessage {
  background-color: #ffffff;
  padding: 0 2rem 0 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

.container-fluid-myAccount {
  background: #FAF9F7;
  color: #292929;
}
.container-fluid-myAccount #myAccount .newInfo h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
.container-fluid-myAccount #myAccount .newInfo .formStyle .foldedCorner .formGrid .form-control {
  background-color: #F0F0F0;
  height: 50px;
}
.container-fluid-myAccount #myAccount .newInfo .formStyle .foldedCorner .formGrid .btnInfoUser {
  color: #00AC66 !important;
  background-color: #F5F3EF !important;
  border: 1px solid #00AC66 !important;
  width: auto !important;
}

.container-fluid-publicProfile {
  background: #FAF9F7;
  color: #292929;
}
.container-fluid-publicProfile .infoUser {
  height: 600px;
}
.container-fluid-publicProfile .infoUser .btnInfoUser {
  color: #00AC66 !important;
  background-color: #F5F3EF !important;
  border: 1px solid #00AC66 !important;
  width: auto !important;
}

.container-fluid-addBook {
  background: #FAF9F7;
  color: #292929;
}
.container-fluid-addBook #addBook {
  background: #ffffff;
  border-radius: 20px;
}
.container-fluid-addBook #addBook .updatePhoto a {
  border-bottom: 1px solid;
}
.container-fluid-addBook #addBook .formStyle .form-control, .container-fluid-addBook #addBook .formStyle .form-select {
  background-color: #F0F0F0;
  height: 50px;
}
.container-fluid-addBook #addBook .formStyle .formContent {
  height: 350px;
}