.container-fluid-header{
  background: #F5F3EF;
  header{
    .nav{
      height: 80px;
      .logoIcon{
        background-color: $background-btn-color;
        padding: 8px;
        border-radius: 5px;
      }
      a{
        font-size: 17px;
      }
    }
  }
}
