body{
  font-family: 'Inter', serif;
  font-weight: 300;
  color: #000000;
  h1{
    font-family: 'Playfair Display';
  }
  
  .btn-primary{
    background-color: $background-btn-color !important;
    border: $background-btn-color !important;
    padding: 15px 25px;
    &:hover{
      background-color: #008552 !important;
    }
  }
  a{
    outline: none;
    text-decoration: none;
    color: black;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}

