#myAccount{
    background: #FAF9F7;
    .infoUser{
        background: #ffffff;
        border-radius: 20px;
        .userPhoto{
            width: 50%;
            border-bottom: #F5F3EF solid 1px;
            img{
                height: 135px;
                width: 135px;
                border-radius: 100px;
            }
        }
    }
    .books{
        thead{
            height: 75px;
        }
        tbody{
            tr{
                height: 150px;
                .delete{
                    color: red;
                }
            }
        }
    }
}
