.container-fluid-publicProfile{
  background: #FAF9F7;
  color: #292929;
  .infoUser{
    height: 600px;
    .btnInfoUser{
      color: #00AC66 !important;
      background-color: #F5F3EF !important;
      border: 1px solid #00AC66 !important;
      width: auto !important;
    }
  }
}